// Version infomation.
#include <windows.h>

VS_VERSION_INFO     VERSIONINFO
  FILEVERSION       1,1,1,8
  PRODUCTVERSION    1,1,1,8
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
        BLOCK "080404E4"
		BEGIN 
			VALUE "CompanyName",     "cmdtr Developer"
			VALUE "FileDescription", "A basic command-line file process program."
			VALUE "FileVersion",     "1.1.1.8"
			VALUE "InternalName",    "cmdtr"
			VALUE "LegalCopyright",  "Copyright (C) 2022 NULL_703. All rights reserved."
			VALUE "OriginalFilename","cmdtr.exe"
			VALUE "ProductName",     "cmdtr"
			VALUE "ProductVersion",  "1.1.1.8"
		END
	END
	BLOCK "VarFileInfo" 
	BEGIN 
		VALUE "Translation", 0x0804, 1252
    END
END